<div *ngIf="data" class="mx-wd">
    <div class="sidenav">
        <div class="nav-in">

            <button class="sidenav-btn" (click)="handleclose()">
                <img src="https://freshlist.in/image/catalog/web-logo-2.png"></button>

            <ul>
                <li>All Vegetables</li>
                <li>Leafy Vegetables</li>
                <li>Fruits</li>
                <li>Fresh juice</li>
                <li>Milk and Egg</li>
                <li>Nuts and Dry fruits</li>
                <li>Herbal products</li>
                <li>Masala and Spices</li>
                <li>Rice and Wheat</li>
                

            </ul>
        </div>
    </div>
</div>