<div class="header">
    <div class="nav">
      <div class="left">
        <button class="sidenav" (click)="handlesidenav()">
        <img
          src="https://freshlist.in/image/catalog/web-logo-2.png"></button>
      </div>
      <div class="right">
        <ul>
          <li><button class="popbtn" (click)="handlepop()"><img
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"></button>
          </li>
          <li>{{quantity}}</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Order Now</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  

  
